.main {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 3rem;
  min-height: 20vh;
}

.header{
  display: flex;
  align-items: center;
  border-radius: 50px;
  padding: 7px 80px 100px;
}

